<div class="jumbotron">
  <h1 class="display-4">Uh Oh!</h1>
  <p class="lead">There is problem signin you up, please try angin or contact the developer</p>
  <hr class="my-4">
  <form action="/login/failure" method="POST">
    <button class="btn btn-warning" type="submit">Try Angin</button>
  </form>
</div>